<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- page title -->
    <title>Healthy Package food</title>
    <!-- favicon -->
    <link rel="icon" href="https://organicindia.com/cdn/shop/files/logo-120x120_2.jpg?v=1743768667">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div>
            <img src="https://organicindia.com/cdn/shop/files/logo-120x120_2.jpg?v=1743768667" alt="">
        </div>
        <div id="navbar">
            <nav>
                <a href="">Home</a>
                <a href="">about</a>
                <a href="">products</a>
                <a href="">Services</a>
                <a href="">Contact</a>
            </nav>

        </div>
        <div>
            <i class="fas fa-search"></i>
            <a href="">login</a>
            <i class="far fa-heart"></i>
            <i class="fas fa-cart-arrow-down"></i>
        </div>
    </header>

    <main>

        <section id="herosection">
            <div>
                <img src="https://organicindia.com/cdn/shop/files/khandsari_banner_1920x600-01.jpg?v=1741346446" alt="">
            </div>
        </section> <!--end of herosection-->


        <section id="product">
            <div>
                <img src="https://organicindia.com/cdn/shop/files/ClearanceSale.png?v=1748597003" alt="Image not found">
                <h3>Teas & Infusions</h3>
            </div>
            <div>
                <img src="https://organicindia.com/cdn/shop/files/ClearanceSale.png?v=1748597003" alt="Image not found">
                <h3>Teas & Infusions</h3>
            </div>
            <div>
                <img src="https://organicindia.com/cdn/shop/files/ClearanceSale.png?v=1748597003" alt="Image not found">
                <h3>Teas & Infusions</h3>
            </div>
            <div>
                <img src="https://organicindia.com/cdn/shop/files/ClearanceSale.png?v=1748597003" alt="Image not found">
                <h3>Teas & Infusions</h3>
            </div>
            <div>
                <img src="https://organicindia.com/cdn/shop/files/ClearanceSale.png?v=1748597003" alt="Image not found">
                <h3>Teas & Infusions</h3>
            </div>
            <div>
                <img src="https://organicindia.com/cdn/shop/files/ClearanceSale.png?v=1748597003" alt="Image not found">
                <h3>Teas & Infusions</h3>
            </div>
            <div>
                <img src="https://organicindia.com/cdn/shop/files/ClearanceSale.png?v=1748597003" alt="Image not found">
                <h3>Teas & Infusions</h3>
            </div>
            <div>
                <img src="https://organicindia.com/cdn/shop/files/ClearanceSale.png?v=1748597003" alt="Image not found">
                <h3>Teas & Infusions</h3>
            </div>
            <div>
                <img src="https://organicindia.com/cdn/shop/files/ClearanceSale.png?v=1748597003" alt="Image not found">
                <h3>Teas & Infusions</h3>
            </div>
            <div>
                <img src="https://organicindia.com/cdn/shop/files/ClearanceSale.png?v=1748597003" alt="Image not found">
                <h3>Teas & Infusions</h3>
            </div>
        </section> <!--end of product-->

        <section id="trending">
            <div>
                <h2>Trending Now !</h2>
                <img src="https://organicindia.com/cdn/shop/files/logo-120x120_2.jpg?v=1743768667" alt="">
            </div>
            <div>
                <img src="https://organicindia.com/cdn/shop/files/Khandsari_1a_558X600_crop_center.jpg?v=1742281352"
                    alt="Image Not Found">
                <h4>This is Title</h4>
                <p>120.rs</p>
                <button>Add to Cart</button>
            </div>
            <div>
                <img src="https://organicindia.com/cdn/shop/files/Khandsari_1a_558X600_crop_center.jpg?v=1742281352"
                    alt="Image Not Found">
                <h4>This is Title</h4>
                <p>120.rs</p>
                <button>Add to Cart</button>
            </div>
            <div>
                <img src="https://organicindia.com/cdn/shop/files/Khandsari_1a_558X600_crop_center.jpg?v=1742281352"
                    alt="Image Not Found">
                <h4>This is Title</h4>
                <p>120.rs</p>
                <button>Add to Cart</button>
            </div>
            <div>
                <img src="https://organicindia.com/cdn/shop/files/Khandsari_1a_558X600_crop_center.jpg?v=1742281352"
                    alt="Image Not Found">
                <h4>This is Title</h4>
                <p>120.rs</p>
                <button>Add to Cart</button>
            </div>
        </section> <!--end of trending-->


        <section id="video">
            <div>
                <video src="https://organicindia.com/cdn/shop/files/quinn_wbd2gsiy1gh8wro74f0pch8n.mp4#t=0.1" controls
                    muted autoplay></video>
            </div>
            <div>
                <video src="https://organicindia.com/cdn/shop/files/quinn_wbd2gsiy1gh8wro74f0pch8n.mp4#t=0.1" controls
                    muted autoplay></video>
            </div>
            <div>
                <video src="https://organicindia.com/cdn/shop/files/quinn_wbd2gsiy1gh8wro74f0pch8n.mp4#t=0.1" controls
                    muted autoplay></video>
            </div>
            <div>
                <video src="https://organicindia.com/cdn/shop/files/quinn_wbd2gsiy1gh8wro74f0pch8n.mp4#t=0.1" controls
                    muted autoplay></video>
            </div>
            <div>
                <video src="https://organicindia.com/cdn/shop/files/quinn_wbd2gsiy1gh8wro74f0pch8n.mp4#t=0.1" controls
                    muted autoplay></video>
            </div>
            <div>
                <video src="https://organicindia.com/cdn/shop/files/quinn_wbd2gsiy1gh8wro74f0pch8n.mp4#t=0.1" controls
                    muted autoplay></video>
            </div>
        </section> <!--end of video-->


        <section id="organic">
            <div>
                <h2>Best Selling Organic Products</h2>
                <img src="" alt="">
            </div>
            <div>
                <img src="https://organicindia.com/cdn/shop/files/1_Psyllium_Husk_B_plus_final_558X600_crop_center.jpg?v=1747993928"
                    alt="Image not found">
                <h4>lkc Capsules</h4>
                <p>285.rs</p>
                <button>Add to cart</button>
            </div>
            <div>
                <img src="https://organicindia.com/cdn/shop/files/1_Psyllium_Husk_B_plus_final_558X600_crop_center.jpg?v=1747993928"
                    alt="Image not found">
                <h4>lkc Capsules</h4>
                <p>285.rs</p>
                <button>Add to cart</button>
            </div>
            <div>
                <img src="https://organicindia.com/cdn/shop/files/1_Psyllium_Husk_B_plus_final_558X600_crop_center.jpg?v=1747993928"
                    alt="Image not found">
                <h4>lkc Capsules</h4>
                <p>285.rs</p>
                <button>Add to cart</button>
            </div>
            <div>
                <img src="https://organicindia.com/cdn/shop/files/1_Psyllium_Husk_B_plus_final_558X600_crop_center.jpg?v=1747993928"
                    alt="Image not found">
                <h4>lkc Capsules</h4>
                <p>285.rs</p>
                <button>Add to cart</button>
            </div>
        </section> <!--end of organic-->


        <section id="tulsi">
            <div>
                <img src="https://organicindia.com/cdn/shop/files/613X630-tulsi-farm-image.png?v=1666268098" alt="">
            </div>

            <div>
                <h2>GET THE ‘TULSI’ WELLNESS EDGE</h2>

                <div id="parent">
                    <div>
                        <img src="https://organicindia.com/cdn/shop/files/icon-1.png?v=1667396330" alt="">
                    </div>
                    <div>
                        <h2>GUARD AGAINST COUGH, COLD & POLLUTION</h2>
                        <p>Tulsi is long known to have anti-inflammatory, anti-bacterial, and anti-viral properties that
                            help fight infections, hasten the healing of wounds and increase immunity against cough and
                            cold.</p>
                    </div>
                    <div>
                        <img src="https://organicindia.com/cdn/shop/files/icon-1.png?v=1667396330" alt="">
                    </div>
                    <div>
                        <h2>GUARD AGAINST COUGH, COLD & POLLUTION</h2>
                        <p>Tulsi is long known to have anti-inflammatory, anti-bacterial, and anti-viral properties that
                            help fight infections, hasten the healing of wounds and increase immunity against cough and
                            cold.</p>
                    </div>
                    <div>
                        <img src="https://organicindia.com/cdn/shop/files/icon-1.png?v=1667396330" alt="">
                    </div>
                    <div>
                        <h2>GUARD AGAINST COUGH, COLD & POLLUTION</h2>
                        <p>Tulsi is long known to have anti-inflammatory, anti-bacterial, and anti-viral properties that
                            help fight infections, hasten the healing of wounds and increase immunity against cough and
                            cold.</p>
                    </div>
                </div>

            </div>
        </section> <!--end of tulsi-->


        <section id="healthy">
            <div>
                <h2>HEALTHY CONSCIOUS LIVING
                </h2>

                <p>Healthy Conscious Living includes conscious business practices to ensure our impact on our world and
                    communities is a positive one. At the foundation of ORGANIC INDIA’s products, company, and sourcing
                    is regenerative agriculture that not only sustains but replenishes the earth; fair trade practices
                    that support and honour farmer partners with equitable wages, health care, and ongoing organic
                    agricultural training; and a LEED Platinum certified production facility that is a marvel of
                    top-tier sustainable design, construction, and operations. This all culminates in the creation of
                    Organic, Non-GMO herbal teas and supplements that support the health of the population, the vibrancy
                    of the planet, and the livelihood of communities in India.</p>
                <button>SHOP NOW</button>
            </div>
            <div>
                <img src="https://organicindia.com/cdn/shop/files/1240X1020-Video-Thumbnail_27360147-2798-488b-8763-e27ceca85973.png?v=1676028945" alt="">
            </div>
        </section> <!--end of healthy-->


        <section id="review">
             <div>
                <h2>customers love</h2>
                <img src="https://organicindia.com/cdn/shop/files/shradhya_88x88_crop_center.png?v=1667394204" alt="">
                <h2>Tulsi green tea</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur corrupti explicabo, nulla unde quisquam vero accusantium possimus neque non ea, quam animi sapiente debitis nobis. Corporis officia explicabo illum fuga.</p>
             </div>
        </section> <!--end of review-->

        <section id="beat">
            
            <div>
                <img src="https://organicindia.com/cdn/shop/files/Section-613x630_diabetic_f426302b-2e4b-4e95-983d-71479a1ac0b5.png?v=1668598897" alt="">
            </div>
            <div>
                   <h2>Get set to beat Diabetes!</h2>
                   <h4>Get set to beat Diabetes!</h4>
                   <p>At ORGANIC INDIA we celebrate the healing power of Mother Nature to nourish and restore us to our best health. Explore our curated range of certified organic, whole herb supplements, teas, and infusions to help you control your blood sugar the natural way. Because let’s face it, nature knows best!</p>
                   <button>SHOP NOW</button>
            </div>

        </section><!--end of beat-->

             <section id="blog">
               <div>
                <h2>Recent Blogs</h2>
                <img src="" alt="">
               </div>
               <div>
                <img src="https://organicindia.com/cdn/shop/articles/digestion-blog-2_1_f50afb91-0e4d-42d6-9524-8eb29e32361a_535x420_crop_center.jpg?v=1747918497" alt="">
                <h3>This us title</h3>
                <p>Lorem ipsum dolor sit amet.</p>
                <button>READ MORE</button>
               </div>
               <div>
                <img src="https://organicindia.com/cdn/shop/articles/digestion-blog-2_1_f50afb91-0e4d-42d6-9524-8eb29e32361a_535x420_crop_center.jpg?v=1747918497" alt="">
                <h3>This us title</h3>
                <p>Lorem ipsum dolor sit amet.</p>
                <button>READ MORE</button>
               </div>
               <div>
                <img src="https://organicindia.com/cdn/shop/articles/digestion-blog-2_1_f50afb91-0e4d-42d6-9524-8eb29e32361a_535x420_crop_center.jpg?v=1747918497" alt="">
                <h3>This us title</h3>
                <p>Lorem ipsum dolor sit amet.</p>
                <button>READ MORE</button>
               </div>
             </section> <!--end of blog-->
            </main>


            <footer>
                <div>
                    <ul>
                        <li>footer</li>
                        <li>footer</li>
                        <li>footer</li>
                        <li>footer</li>
                        <li>footer</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>footer</li>
                        <li>footer</li>
                        <li>footer</li>
                        <li>footer</li>
                        <li>footer</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>footer</li>
                        <li>footer</li>
                        <li>footer</li>
                        <li>footer</li>
                        <li>footer</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>footer</li>
                        <li>footer</li>
                        <li>footer</li>
                        <li>footer</li>
                        <li>footer</li>
                    </ul>
                </div>
                <div>
                    <p>Copyright &copy; &pound; 2024 Organic India Pvt. Ltd.</p>
                </div>
            </footer>

 
</body>

</html>